@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nicolas SAPIN<br />
    <abbr title="Section">S.:</abbr>
    B3 Devops - EPSI
    <abbr title="EMail">Mail perso:</abbr>
    <a href="mailto:nicosapin@gmail.com">nicosapin@gmail.com</a><br />
    <abbr title="EMail">Mail EPSI:</abbr>
    <a href="mailto:nicosapin@gmail.com">nicolas.sapin1@epsi.fr</a><br />

</address>
